/** @format */

@import '~/styles/_partials.scss';

.section {
  margin-top: 5rem;
  padding-bottom: 16rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  h1 {
    font-family: $font-styled;
    font-size: 2rem;
  }
  p {
    font-family: $font-main;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
  }
}
.text {
  width: 90%;
  margin: 0 auto;
  color: $black;
}
p.name {
  color: $red;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.icon {
  font-size: 1.2rem;
  padding-left: 0rem;
  transition: all 0.3s ease-in-out;
}

p.name:hover {
  .icon {
    margin-left: 0.5rem;
  }
}

.imageWrap {
  position: relative;
}
.svg {
  fill: $red;
  position: absolute;
  z-index: 100;
  transform: translate(5rem, -15rem);
  width: 25rem;
  height: 25rem;
}
@media only screen and (min-width: $bp) {
  .section {
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
  }
  .text {
    flex: 3;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .imageWrap {
    width: 100%;
    height: 100%;
    flex: 6;
  }
  .svg {
    fill: $red;
    position: absolute;
    z-index: 100;
    transform: translate(5rem, -15rem);
    min-width: 25rem;
    min-height: 25rem;
    width: 30rem;
    height: 30rem;
  }
}
