/** @format */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Staatliches&display=swap');

$font-styled:'Staatliches', cursive;
$font-main:'Montserrat', sans-serif;

$red: #d32f2f;
$redtrspt: #d32f2f30;
$grey:#898989;
$black: #1a1a1b;

$bp: 48em;
