/** @format */

@import '~/styles/_partials.scss';

.section {
  flex-direction: column;
  h1 {
    font-family: $font-styled;
    font-size: 2rem;
  }
  p {
    font-family: $font-main;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
  }
}
.text {
  width: 90%;
  margin: 0 auto;
  color: $black;
  text-align: center;
}

.labelWrap {
  height: 24rem;
  width: 24rem;
  margin: 0 auto;
}

.button {
  margin: 5rem auto;
}

@media only screen and (min-width: $bp) {
  .section {
    min-height: fit-content;
  }
  .labelWrap {
    min-height: 24rem;
    min-width: 24rem;
    height: 50%;
    width: 50%;
    max-height: 40rem;
    max-width: 40rem;
  }
}

@media only screen and (min-width: 74em) {
  .section {
    margin-top: 20rem;
  }
}
