/** @format */

@import '~/styles/_partials.scss';

.section {
  flex-direction: column;
  h1 {
    font-family: $font-styled;
    font-size: 2rem;
  }
  p {
    font-family: $font-main;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
  }
}
.text {
  width: 90%;
  margin: 0 auto;
  color: $black;
}
p.name {
  color: $red;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.icon {
  font-size: 1.2rem;
  padding-left: 0rem;
  transition: all 0.3s ease-in-out;
}

p.name:hover {
  .icon {
    margin-left: 0.5rem;
  }
}

.imageWrap {
  width: 80%;
  max-height: 40rem;
}

@media only screen and (min-width: $bp) {
  .section {
    width: 80%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
  }
  .imageWrap {
    order: 1;
  }
  .text {
    order: 2;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
